#root {
  display: flex;
  flex-direction: column;
}
.search-input {
  margin: auto;
}
.episode-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: gray;
}
.episode-div {
  height: 700px;
  width: 500px;
  background-color: whitesmoke;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  margin-bottom: 25px;
  margin-right: 15px;
  margin-left: 15px;

  text-align: justify;
}

.episodeName-paragraph {
  /* text-align: justify; */
  font-size: 2em;
  max-width: 90%;
}
.episode-image {
  margin: 10px;
  max-width: 90%;
}

.episodeSummary-paragraph {
  max-width: 90%;
  font-size: 1.5em;
}
